<h1>New Photo</h1>

<!-- <div id="drag-drop-area"></div> -->
<div class="UppyForm"> I get converted to an Uppy button if Uppy works properly! </div>

<!-- <div class="UppyDragDrop-Two-Progress"> I get converted to an Uppy progress bar if Uppy works properly! </div> -->
<div class="progress" style="width: 300px">
  <div class="progress-bar"></div>
</div>


<button class="UppyDragDrop-Two-Upload">Upload</button>
<%#= render 'form', photo: @photo %>

<input id="immaHidden" type="hidden" name="huh">
